body {
    font-family: arial;
    background-color: blueviolet;
    color: greenyellow;
    text-align: center;
    list-style-position: inside;
    
}



a, button, a.button, button.button {
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: large;
    display: inline-flex;
    border-radius: 10px;
    min-width: 10ch;
    padding: auto;
}

img {
    min-height: 30px;
    max-height: 500px;
    min-width: 700px;
    max-width: 2100px;

}

h1, h3 {
    background-color: black;
    text-align: center;
}

.amd {
    background-color: crimson;
    height: auto;
    width: auto;
    border: 3px solid black;
    text-align: center;
}

.nvidia{
    background-color: green;
    height: auto;
    width: auto;
    border: 3px solid black;
}